# Process, analyze, and summarize data with Spark and PySpark

## Project Description

Did you know that a billion records are processed daily in PySpark by companies worldwide? As big data is on the rise, you’ll need tools like PySpark to process massive amounts of data.

This guided project was designed to introduce data analysts and data science beginners to data analysis in PySpark. This 2-hour project course teaches you how to create a PySpark environment, explore and clean large data, aggregate and summarize data, and visualize data using real-life examples. By the end of this guided project, you’ll create a Jupyter Notebook that processes, analyzes, and summarizes data using PySpark. By working on hands-on tasks, you will gain a solid knowledge of data aggregation and summarization with PySpark, helping you acquire job-ready skills. 

You don’t need any experience in PySpark, but knowledge of Python is essential to succeeding in this project.

## Project Overview
This project demonstrates how to process and analyze large datasets using PySpark, focusing on employees data. Tasks include data loading, cleaning, exploration, and aggregation, culminating in insights on employee salaries and demographics.

### About the Dataset
**employees.csv**: Contains employee details like employee numbers, names, birth dates, hire dates, etc.

**updated_salaries.csv**: Contains salary details for each employee, including salary amounts and dates.

# Task One: Set up and overview of the project
In this task, you will get an overview of the project and set up the PySpark environment.

In [2]:
## Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql.functions import col, avg, max, min, countDistinct, sum, round

In [3]:
## Set up PySpark environment
from pyspark.sql import SparkSession

In [ ]:
## Initialize the SparkSession


## Verify that SparkSession is created

# Task Two: Load the data
In this task, you will load the employees.csv and updated_salaries.csv data.

In [ ]:
## Load the employees.csv dataset

In [ ]:
## Load the updated_salaries.csv dataset

In [ ]:
## Show the first few rows of the employees data

In [ ]:
## Show the first few rows of the salaries data

In [ ]:
## Print the schema for employees data

In [ ]:
## Print the schema for salary data

# Task Three: Clean and process the data
In this task, you will perform quick data cleaning by converting variables to proper data types.

In [ ]:
from pyspark.sql.types import StringType

## Cast the 'emp_no' column in the employees data to a string


## Print the updated schema
emp_df.printSchema()

In [ ]:
## Chain transformations to cast 'emp_no' to string and 'to_date' & 'from_date' to date


## Show the updated schema
sal_df.printSchema()

# Task Four: Explore the data
In this task, you will explore the salaries data by computing summary statistics and visualizing the salary column.

In [ ]:
## Create a sum of missing values per column in the salary data

In [ ]:
## Create the summary statistics for the salary data

In [ ]:
## Count total rows and unique employees in salary data

In [ ]:
## Plot the salary distribution

# Practice Activity One: Explore the data

In [ ]:
## Create a sum of missing values per column in the employees data

In [ ]:
## Count the number of rows in the employees data

In [ ]:
## How many different first names can be found in the employees data?

# Task Five: Aggregate and summarize the data
In this task, you will perform data aggregation and summarization using the salaries data.

In [ ]:
## Group the data and calculate the average salary for each department

In [ ]:
## Get the average salary and number of employees in each department

In [ ]:
## Convert Spark data frame  to Pandas for visualization
dept_summary_df = dept_summary.toPandas()

## Plot the data

In [ ]:
## Retrieve a list of employee numbers and the average salary.
## Make sure that you return where the average salary is more than $120,000

## Group by employee number and calculate the average salary


## Order in descending order of average_salary


## Show the result
emp_avg_salary.show()

# Task Six: Join the data sets
In this task, you will join the salaries and employees data using the employees number.

In [ ]:
from pyspark.sql import functions as F

## Create an age column in the employees data
## Age when the employee was hired

In [ ]:
## Join salaries and employees data on 'emp_no'

In [ ]:
## Retrieve a list of employee numbers and the average salary.
## Make sure that you return where the average salary is more than $120,000

## Group by employee number and calculate the average salary


## Join the aggregated result back with the original employee data to get first_name, last_name, hire_date



emp_salary_summary.show()

# Cumulative Activity: Analyze employees' retention

As a junior data analyst at a growing company, you are tasked with analyzing employee retention. Your aim is to find departments with the highest amount of employees that have worked longer than ten years. This will assist HR in enhancing employees' engagement and retention strategies. 

To complete this activity, you will use the employee dataset and create a data frame with the employee totals in each department for a period over 10 years (calculated by from_date and to_date).  Finally, you'll visualize how long-term employees are spread across departments via a bar chart.

In [ ]:
from pyspark.sql import functions as F

## Calculate the years worked based on the difference between 'to_date' and 'from_date'

## Group by emp_no and dept_no to sum the years worked

In [ ]:
## Filter employees who have worked more than 10 years


## Group by department and count distinct employees who worked more than 10 years


## Show the result

In [ ]:
## Convert the Spark data frame to Pandas for visualization


## Create a bar chart to visualize the distribution of long-term employees across departments